/* Error pages styles */
.error-page {
    width: 100%;
    .error-page-wrapper {
        width: 90%;
        margin: 60px auto;
        text-align: center;
        h1, h2 {
            font-weight: normal;
            font-size: 3.9rem;
        }
        h6 {
            text-transform: uppercase;
            margin: 35px auto 15px auto;
            font-weight: normal;
            letter-spacing: 2px;
        }
        p {
            color: #4e4e4e;
            margin-bottom: 20px;
        }
        a.button {
            border: 2px solid #f75679;
            padding: 7px 16px;
            display: inline-block;
            margin: 0 0 20px 0;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 3px;
            background-color: transparent;
            color: #000;
            &:hover {
                background-color: #f75679;
                color: #fff;
                border: 2px solid #f75679;
                transition: all 0.3s ease-in-out;
            }
            &:not(:hover) {
                background-color: transparent;
                color: #000;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
