/* Footer styles */

footer {
    width: 100%;
    min-height: 250px;
    background-color: #f5f8fa;
    overflow: hidden;
    .footer_wrapper_upper {
        width: 90%;
        margin: 20px auto 0 auto;
        display: grid;
        grid-template-columns: 35% 20% 20% 25%;
        justify-content: space-between;
        @media screen and (max-width: 1100px) {
            grid-template-columns: 50% 50%;
        }
        @media screen and (max-width: 700px) {
            grid-template-columns: 100%;
            margin: 0 auto;
        }
        .footer_about {
            padding: 30px 70px 0 0;
            a.logo-footer {
                margin: 0 0 10px 0;
                font-weight: normal;
                color: #fff;
                font-size: 1.9rem;
                text-transform: none;
            }
            p {
                margin: 15px 0 8px 0;
                color: #9c9c9c;
            }
            a {
                color: #0084ff;
                font-size: 1.3rem;
                margin-left: -20px;
                letter-spacing: 1px;
                text-transform: uppercase;
                span {
                    position: relative;
                    transition: 0.5s;
                    &:before {
                        content: "→";
                        opacity: 0;
                        transition: 0.5s;
                    }
                }
            }
            a:hover span {
                padding-left: 20px;
                color: #f75679;
                transition: all 0.5s ease-in-out;
            }
            a:hover span:before {
                opacity: 1;
                padding-right: 5px;
                transition: all 0.5s ease-in-out;
                color: #f75679;
            }
        }
        .footer_links {
            padding: 30px 0 0 0;
            h5 {
                margin: 0 0 10px 0;
                color: #000;
                font-weight: normal;
            }
            ul {
                margin-left: -18px;
                padding: 0;
                li {
                    padding: 0;
                    a {
                        color: #3d3d4e;
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .popular_posts {
            padding: 30px 0 5px 0;
            h5 {
                font-weight: normal;
                margin: 0 0 20px 0;
                color: #fff;
            }
            ul {
                padding-left: 0;
                li {
                    margin: 3px 0;
                    clear: left;
                    .image-holder {
                        display: block;
                        overflow: hidden;
                        background: #cccccc;
                        float: left;
                        margin: 3px 10px 3px 0;
                        a {
                            img {
                                overflow: hidden;
                                display: block;
                                object-fit: cover;
                            }
                        }
                    }                   
                    small {
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: #fff;
                    }
                    a.popular-link-title {
                        color: #9c9c9c;
                        margin-top: 3px;
                        font-size: 1.6rem;
                        &:hover {
                            color: #f75679;
                            transition: all 0.5s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    .footer_wrapper_down {
        width: 90%;
        margin: 30px auto;
        border-top: 1px solid #3d3d4e;
        display: grid;
        grid-template-columns: 75% 25%;
        @media screen and (max-width: 1100px) {
            grid-template-columns: 50% 50%;
        }
        @media screen and (max-width: 700px) {
            grid-template-columns: 100%;
        }
        .footer_copyright {
            margin: 30px 0;
            color: #9c9c9c;
            @media screen and (max-width: 1000px) {
                padding: 0 50px 0 0;
            }
        }
        .footer_newsletter {
            margin: 30px 0 20px 0;
            @media screen and (max-width: 700px) {
                margin: 0 0 20px 0;
            }
            h5 {
                font-weight: normal;
                color: #fff;
                margin-bottom: 10px;
            }
            p {
                margin: 15px 0;
                color: #fff;
            }
            a {
                color: #9c9c9c;
                font-size: 1.6rem;
                position: relative;
                margin: 0 45px 0 0;
                &:hover {
                    color: #f75679;
                    transition: all 0.5s ease-in-out;
                }
            }
            a#facebook,
            a#twitter {
                &:after {
                    content: "";
                    background: #9c9c9c;
                    position: absolute;
                    top: 55%;
                    right: -33px;
                    height: 1px;
                    width: 26px;
                }
            }
        }
    }
}

/* Pulsing heart GSAP footer animation */

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}
.icon {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    fill: currentColor;
}
.iconbutton {
    background: none;
    border: 0;
    padding: 0 0.8rem;
    cursor: pointer;
}
.iconbutton:focus {
    outline: none;
}
.icon--heart {
    color: #f75679;
}
