/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
    outline: none;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2.1rem;
}

h5 {
    font-size: 1.9rem;
}

h6 {
    font-size: 1.7rem;
}

p {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}
