/* Legal pages styles */
.legal {
    width: 100%;
    overflow: hidden;
    .legal-wrapper {
        width: 90%;
        margin: 60px auto;
        p {
            line-height: 3.5rem;
            margin-bottom: 1rem;
            a {
                color: #0084ff;
                text-decoration: underline;
            }
            span.bold {
                font-weight: 600;
            }
        }
        p.italic {
            font-style: italic;
        }
        h2 {
            font-weight: normal;
            text-transform: uppercase;
            margin: 1.5rem 0;
        }
        h5 {
            margin: 1.5rem 0;
            font-size: 2.2rem;
            font-weight: normal;
        }
        ul {
            list-style-type: square;
            line-height: 3.5rem;
            font-size: 1.6rem;
            li {
                margin: 1rem 0 1rem 3rem;
                span.bold {
                    font-weight: 600;
                }
            }
        }
        ol {
            list-style-position: inside;
            line-height: 3.5rem;
            font-size: 1.6rem;
            li {
                margin: 1rem 0;
            }
        }
    }
}
