/* Show page styles */
.news-show {
    width: 100%;
    .news-show-wrapper {
        width: 90%;
        margin: 60px auto;
        min-height: 500px;
        position: relative;
        .item-itself {
            overflow: hidden;
            width: 70%;
            display: block;
            float: left;
            .thumbnail {
                display: block;
                overflow: hidden;
                background: #cccccc;
                border-radius: 5px;
                img {
                    width: 100%;
                    display: block;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            img {
                width: 100%;
                display: block;
                overflow: hidden;
                object-fit: cover;
                border-radius: 5px;
            }
            h1,h2,h3,h4,h5,h6 {
                font-weight: normal;
                color: #4e4e4e;
            }
            h1 {
                margin: 20px 0;
                font-size: 3.2rem;
            }
            h2 {
                padding: 15px 0;
            }
            h3 {
                padding: 12px 0;
            }
            h4 {
                padding: 10px 0;
            }
            h5 {
                padding: 8px 0;
            }
            h6 {
                padding: 7px 0;
            }
            a {
                color: #0084ff;
            }
            ul {
                list-style: square inside;
                font-size: 1.6rem;
                color: #000;
                line-height: 2.6rem;
            }
            ol {
                font-size: 1.6rem;
                color: #000;
                line-height: 2.6rem;
            }
            table {
                font-size: 1.6rem;
                color: #000;
                border-collapse: collapse;
                width: 100%;
                th {
                    border: 1px solid #e3e6f0;
                    border-top: 2px solid #e3e6f0;
                    border-bottom: 3px solid #e3e6f0;
                    text-align: left;
                    padding: 15px;
                }
                td {
                    border: 1px solid #e3e6f0;
                    text-align: left;
                    padding: 15px;
                }
            }
            p.quote-field {
                background-color: #f5f8fa;
                padding: 20px;
                display: block;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                border-left: 5px solid #0084ff;
                font-style: italic;
            }
            p.photo-source {
                text-transform: initial;
                font-size: 1.6rem;
                margin: 0;
                line-height: initial;
                color: #4e4e4e;
            }
            p.meta {
                color: #000;
                position: relative;
                text-transform: uppercase;
                font-size: 1.3rem;
                margin: 0;
                line-height: initial;
                a.show-category {
                    color: #0084ff;
                    font-size: 1.3rem;
                    margin-right: 1rem;
                    &:hover {
                        color: #f75679;
                        transition: all 0.4s ease-in-out;
                    }
                }
                a.show-author {
                    color: #0084ff;
                    font-size: 1.3rem;
                    margin-left: 1rem;
                    &:hover {
                        color: #f75679;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
            p {              
                line-height: 2.6rem;
                margin: 12px 0;
            }
            .item-line {
                width: 100%;
                height: 1px;
                background-color: #4e4e4e;
                margin: 30px 0 10px;
            }
            .meta-bottom {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 25px;
                justify-content: space-between;
                margin-bottom: 25px;
                .post-tags {
                    display: inline-block;
                    margin-bottom: 5px;
                    a.button {
                        display: inline-block;
                        margin: 0 5px 5px 0;
                        border: 1px solid #f75679;
                        border-radius: 3px;
                        font-size: 1.4rem;
                        padding: 2px 8px;
                        color: #000;
                        &:hover {
                            color: #fff;
                            background-color: #f75679;
                            transition: all 0.4s ease-in-out;
                        }
                        &:not(:hover) {
                            background-color: transparent;
                            color: #000;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                }
            }
            @media screen and (max-width: 1160px) {
                width: 100%;
            }
            .auth-condition {
                display: block;
                background-color: #f5f8fa;
                border-radius: 3px;
                padding: 15px 0;
                font-size: 1.6rem;
                color: #0084ff;
                text-align: center;
            }
        }
        aside.sidebar {
            float: right;
            display: block;
            width: 25%;
            margin: 0;
            padding: 0;
            @media screen and (max-width: 1160px) {
                float: left;
                margin: 40px 0 0 0;
                width: 100%;
            }
            .related-posts-widget {
                margin: 0 0 20px 0;
                h4 {
                    font-weight: normal;
                    padding: 0;
                    margin: 0 0 30px 0;
                    color: #4e4e4e;
                }
                ul.related {
                    li {
                        clear: left;
                        .image-holder {
                            background: #cccccc;
                            display: block;
                            overflow: hidden;
                            float: left;
                            width: 110px;
                            height: 55px;
                            margin: 0 15px 15px 0;
                            border-radius: 3px;
                            position: relative;
                            a {
                                img {
                                    display: block;
                                    object-fit: cover;
                                    overflow: hidden;
                                    width: 110px;
                                    height: 55px;
                                }
                                .image-overlay {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                                &:hover {
                                    .image-overlay {
                                        background-color: rgba(0, 0, 0, 0.1);
                                        transition: background-color 0.2s ease-in-out;
                                    }
                                }
                                &:not(:hover) {
                                    .image-overlay {
                                        background-color: transparent;
                                        transition: background-color 0.2s ease-in-out;
                                    }
                                }
                            }
                        }                       
                        .post-content {
                            a { 
                                color: #000;
                                h5 {
                                    font-weight: normal;
                                    font-size: 1.3rem;
                                    padding-bottom: 4px;
                                    @media screen and (max-width: 1220px) and (min-width: 1160px) {
                                        padding-top: 4px;
                                    }
                                }
                                &:hover {
                                    color: #0084ff;
                                    transition: all 0.4s ease-in-out;
                                }
                            }
                            small {
                                color: #4e4e4e;
                                font-size: 1rem;
                                @media screen and (max-width: 1220px) and (min-width: 1160px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .tag-widget {
                margin: 70px 0 30px 0;
                clear: left;
                h4 {
                    font-weight: normal;
                    margin-bottom: 20px;
                    color: #4e4e4e;
                }
                .tag-cloud {
                    font-size: 1.6rem;
                    a {
                        display: inline-block;
                        margin: 0 5px 5px 0;
                        border: 1px solid #f75679;
                        border-radius: 3px;
                        font-size: 1.4rem;
                        padding: 2px 8px;
                        &:hover {
                            color: #fff;
                            background-color: #f75679;
                            transition: all 0.4s ease-in-out;
                        }
                        &:not(:hover) {
                            background-color: transparent;
                            color: #000;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                }
            }
        }
        .clear {
            clear: both;
        }
    }
}
