// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Muli|Open+Sans&display=swap");

@import 'variables';


/*General styles*/
* {
    box-sizing: border-box;
}

html {
    font-family: "Muli", sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

ul {
  list-style: none;
}

/*Header and Navigation styles*/
header {
    top: 0;
    left: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    height: 85px;
    z-index: 99;
   
    box-shadow: 0 0 12.48px .52px rgba(48, 178, 32, 0.04);
    .menu-wrapper {
        width: 85%;
        margin: auto;

        .logo {
            color: #000;
            height: 85px;
            line-height: 85px;
            font-size: 2.4rem;
            float: left;
            a {
                color: #000;
                span.logo-span {
                    font-weight: 600;
                }
            }
        }
        nav {
            float: right;
            ul {
                margin: 0%;
                padding: 0%;
                display: flex;
                li {                    
                    position: relative;
                    font-size: 1.4rem;
                    text-transform: uppercase;

                    a {
                        line-height: 85px;
                        height: 85px;
                        padding: 0 20px;
                        color: #000;
                        display: inline-block;
                        outline: none;
                        letter-spacing: 3px;
                    }
                    ul {
                        position: absolute;
                        left: 0;
                        background: #fff;
                        box-shadow: 2px 2px hsl(204, 33%, 97%);
                        display: none;
                        li {
                            display: block;
                            width: 200px;
                            a.sub-item {
                                line-height: 60px;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
header .menu-wrapper nav ul li.active ul {
  display: block;
}
/* Hamburger icon*/
.menu-toggle {
    display: none;    
    float: right;    
    width: $bar-width;
    margin-top: 34px;
	  height: $bar-height + $bar-spacing*2;
    cursor: pointer;
    &:hover {
      .hamburger-menu {
        width: $bar-width;
        transition: all 0.25s;
      }
      
    }
    .hamburger-menu {
        width: 33px;
        height: $bar-height;
        position: relative;
	      transform: translateY($bar-spacing);
	      background: #000;
        transition: all 0ms 300ms;
        
        &:after {
            width: $bar-width;
            height: $bar-height;
            content: "";
	          position: absolute;
	          left: 0;
	          top: $bar-spacing;
	          background :#000;
	          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:before {
            width: $bar-width;
            height: $bar-height;
            content: "";
	          position: absolute;
	          left: 0;
	          bottom: $bar-spacing;
	          background :#000;
	          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.animate {
            background: rgba(255, 255, 255, 0); 
        }
    }
    .hamburger-menu.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    
    .hamburger-menu.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    
}

header .menu-wrapper nav ul li.sub-menu:before {
  content: "▾";
  line-height: 85px;
  position: absolute;
  right: 5px;
}

header .menu-wrapper nav ul li.active.sub-menu:before {
  content: "▴";
  position: absolute;
  
}

@media (max-width: 991px) {
    header {
        padding: 0;
    }
    
    header .menu-wrapper nav {
        position: absolute;
        width: 100%;
        height: auto;
        background: #fff;
        top: 85px;
        left: -100%;
        transition: 0.5s;
        z-index: 99;
    }

    header .menu-wrapper nav.active {
        left: 0;
    }

    header .menu-wrapper nav ul {
        display: block;
        text-align: left;
        margin: 0 30px;
        box-shadow: none !important;
    }

    header .menu-wrapper nav ul li a {
        line-height: 60px;
        
        height: 60px;
        display: block;      
    }

    header .menu-wrapper nav ul li.active ul {
        position: relative;
        background-color: hsl(204, 33%, 97%);
        margin: 0;
    }

    header .menu-wrapper nav ul li ul li {
        width: 100%;       
    }

    header .menu-wrapper nav ul li ul li a {
      border-bottom: initial;
      line-height: 60px !important;
      margin: 0;
      text-transform: none;
    }

    header .menu-wrapper nav ul li.sub-menu:before {
        line-height: 60px;
    }

    .menu-toggle {
        display: block;   
    }   
}


/*Register page styles*/
.register {
    width: 100%;
    height: auto;
    .register-wrapper {
        width: 85%;
        margin: 80px auto;
        text-align: center;
        
                h1 {
                    font-size: 4.5rem;
                    text-align: center;
                    letter-spacing: 1px;
                    margin: 0;
                    font-weight: normal;
                }
                p {
                  color: #4e4e4e;
                  font-size: 1.8rem;
                  margin: 15px auto 20px auto;
                    a {
                        margin-left: 5px;
                        color: #e71d43;
                    }
                }
                form {
                  width: 45%;
                  margin: auto;
                  .form-group {
                    margin: 40px 0;
                   
                    .group-holder {
                      input {
                        border: none;
                        font-size: 1.8rem;
                        border-bottom: 1px solid #cccccc;
                        padding: 10px 0 10px 0;
                        width: 100%;
                        &::placeholder {
                          font-size: 1.8rem;
                          color: #4e4e4e;
                          opacity: 1;
                        }
                        &:focus {
                          outline: none;
                          border-bottom: 1px solid #000;
                          transition: all .2s ease-in-out;
                          &::placeholder {
                            color: #000;
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                  button.button {
                    border: 2px solid #e71d43;
                    padding: 14px 30px;
                    cursor: pointer;                
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    border-radius: 3px; 
                    background-color: transparent;
                    color: #000;
                    &:hover {
                      background-color: #e71d43;
                      color: #fff;
                      border: 2px solid #e71d43;
                      transition: all 0.3s ease-in-out;
                    }
                    &:not(:hover) {
                      background-color: transparent;
                      color: #000;
                      transition: all 0.3s ease-in-out;
                    }
                  }                
                }
        
    }
}

/*Index page*/
.jumbothron {
    width: 100%;
    min-height: 500px;
    background-color: hsl(204, 33%, 97%);
    .jumbothron-wrapper {
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 30%;
        grid-gap: 50px;
        justify-content: space-between;
        @media (max-width: 991px) {
            grid-template-columns: 100%;
        }
        .content {
            margin: 85px 0 0 0;
            p {
                font-size: 2.2rem;
            }
            a.button {
                border: 2px solid #e71d43;
                padding: 14px 30px;
                display: inline-block;
                margin: 0 0 20px 0;
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-radius: 3px; 
                background-color: transparent;
                color: #000;
                &:hover {
                    background-color: #e71d43;
                    color: #fff;
                    border: 2px solid #e71d43;
                    transition: all 0.3s ease-in-out;
                }
                &:not(:hover) {
                    background-color: transparent;
                    color: #000;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .photo {
            margin: 85px 0 0 0;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/*News section*/
.news {
    width: 100%;
    h1 {
        text-align: center;
    }
    .news-wrapper {
        width: 85%;
        margin: 80px auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 60px 30px;
        justify-content: space-between;
        @media (max-width: 900px) {
          grid-template-columns: auto auto;
        }
        @media (max-width: 700px) {
          grid-template-columns: auto;
        }
        .item {
            width: 100%;
            border-radius: 0 0 5px 5px;
            border: 1px solid #f5f8fa;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
            .image-holder {
                overflow: hidden;
                border-radius: 5px 5px 0 0;
                a {
                    img {
                        width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                        
                    }
                }
            }
            .item-content {
                margin: 0 20px;
                a {
                    color: #000;
                    h6 {
                        margin: 10px 0 0 0;
                    }
                }
                p {
                    margin: 5px 0;

                    i {
                        margin-right: 15px;
                        color: #4e4e4e;
                    }
                }
                p.item-blog-author {
                    margin: 15px 0;
                    a {
                        color: #e71d43;
                        &:hover {
                            color: #0633ff;
                            transition: all 0.3s ease-in-out;
                        }
                        &:not(:hover) {
                            color: #e71d43;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
                p.item-blog-text {
                    color: #4e4e4e;
                }
                p.item-blog-comment {
                    margin-left: 32px;
                }
                p.item-blog-date {
                    margin-left: 32px;
                }
                .blog-line {
                    margin: 20px 20px 20px 0;
                    background-color: #dedede;
                    width: 100%;
                    height: 2px;                   
                }
                .item-blog-bottom {
                    a.button {
                        border: 2px solid #e71d43;
                        padding: 14px 30px;
                        display: inline-block;
                        margin: 0 0 20px 0;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        border-radius: 3px;                              
                        background-color: transparent;
                        color: #000;
                        &:hover {
                            background-color: #e71d43;
                            color: #fff;
                            border: 2px solid #e71d43;
                            transition: all 0.3s ease-in-out;
                        }
                        &:not(:hover) {
                            background-color: transparent;
                            color: #000;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    p {
                        float: right;
                        padding: 14px 0;
                        a {
                            color: #0633ff;
                            font-weight: 600;
                            &:hover {
                                color: #e71d43;
                                transition: all 0.3s ease-in-out;
                            }
                            &:not(:hover) {
                                color: #0633ff;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Footer styles*/

footer {
    width: 100%;
    min-height: 250px;
    color: #000;
    background-color: hsl(204, 33%, 97%);
    overflow: hidden;
    .footer_wrapper_upper {
      width: 85%;
      margin: 20px auto 0 auto;
      display: grid;
      grid-template-columns: 35% 15% 15% 25%;
      grid-column-gap: 40px;
      justify-content: space-between;
      @media only screen and (max-width: 1267px) {
        grid-template-columns: 50% 50%;
      }
      @media only screen and (max-width: 700px) {
        grid-template-columns: 100%;
        margin: 0 auto;
      }
      .footer_about {
        padding: 30px 20px 0 0;
        a.logo-footer {
          margin: 0 0 10px 0;
          font-weight: normal;
          color: #000;
          font-size: 2.2rem;
          text-transform: none;
        }
        p {
          margin: 10px 0 10px 0;
          font-size: 1.8rem;
        }
        a {
          color: #0633ff;
          font-size: 1.4rem;
          margin-left: -17px;
          letter-spacing: 1px;
          text-transform: uppercase;
          span {
            position: relative;
            transition: 0.5s;
            &:before {
              content: "→";
              font-size: 2rem;
              opacity: 0;
              transition: 0.5s;
            }
          }
        }
        a:hover span {
          padding-left: 17px;
          color: #e71d43;
          transition: all 0.5s ease-in-out;
        }
        a:hover span:before {
          opacity: 1;
          padding-right: 8px;
          transition: all 0.5s ease-in-out;
          color: #e71d43;
        }
      }
      
      .footer_links {
        padding: 30px 0 0 0;
        h5 {
          margin: 0 0 10px 12px;
          color: #000;
          font-weight: normal;
        }
        ul {
          padding: 0;
          
          li {
            padding: 2px 0;
            a {
              color: #4e4e4e;
              font-size: 1.8rem;
              span {
                position: relative;
                transition: 0.5s;
                &:before {
                  font-size: 2rem;
                  content: "→";
                  opacity: 0;
                  transition: 0.5s;
                }
              }
            }
          }
        }
        a:hover span {
          padding-left: 15px; 
          color: #e71d43;
          transition: all 0.5s ease-in-out;
        }
        a:hover span:before {
          opacity: 1;
          padding-right: 8px;
          transition: all 0.5s ease-in-out;
          color: #e71d43;
        }
      }
      .popular_posts {
        padding: 30px 0 0 0;
        
        h5 {
          font-weight: normal;
          margin: 0 0 20px 0 !important;
          color: #000;
        }
        ul {
          padding-left: 0;
          li {
            margin: 3px 0;
            a {
              color: #000;
              img {
                float: left;
                margin: 0 10px 0 0;
              }
            }
            small {
              font-size: 1rem;
              text-transform: uppercase;
              color: #e71d43;
            }
            p {
              
              margin-top: 3px;
            }
          }
        }
      }
    }
    .footer_wrapper_down {
      width: 85%;
      margin: 30px auto;
      border-top: 1px solid #0633ff;
      display: grid;
      grid-template-columns: 75% 20%;
      @media only screen and (max-width: 1267px) {
        grid-template-columns: 50% 50%;
      }
      @media only screen and (max-width: 700px) {
        grid-template-columns: 100%;
      }
      .footer_copyright {
        padding: 15px 0;
        @media only screen and (max-width: 1267px) {
          padding: 30px 50px 30px 0;
        }
         
       
        
      }
      .footer_newsletter {
        
       
        h5 {
          font-weight: normal;
          color: #000;
          margin-bottom: 10px;
         
        }
        .input-wrapper {
          width: 100%;
          margin: 5px auto;
          position: relative;
          &:after {
            content: attr(data-text);
            font-size: 1.6rem;
            line-height: 0;
            height: 0;
            max-width: 100%;
            border-bottom: 2px solid #e71d43;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            overflow: hidden;
            user-select: none;
            color: transparent;
          }
          input {
            color: #000;         
            padding: 0;
            border-radius: 0;
            outline: none;
            width: 100%;
            border: none;
            font-size: 1.6rem;
            padding: 10px 0;
            border-bottom: 2px solid #000;
            background-color: transparent;
            font-size: 1.8rem;
          }
          button {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            border: none;
            background: transparent;
            outline: none;
            font-size: 1.8rem;
            color: #000;
            cursor: pointer;
            padding: 0 3px;
          }
        }
        p {
          margin: 15px 0;
        }
        a {
          color: #000000;
          font-size: 1.8rem;
          position: relative;
          margin: 0 45px 0 0;
          
          &:hover {
            color: #e71d43;
            transition: all .5s ease-in-out;
          }
        }
        a#facebook, a#twitter {
          &:after {
            content: '';
            background: #000;
            position: absolute;
            top: 55%;
            right: -33px;
            height: 1px;
            width: 26px;
          }
        }
      } 
    }
  }

 
 
