// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Muli|Open+Sans&display=swap");

/*General styles*/
* {
    box-sizing: border-box;
}

html {
    font-family: "Muli", sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

/*Header and Navigation styles*/
header {
    top: 0;
    left: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    height: 85px;
    .menu-wrapper {
        width: 85%;
        margin: auto;

        .logo {
            color: #000;
            height: 85px;
            line-height: 85px;
            font-size: 2.4rem;
            float: left;
            a {
                color: #000;
                span {
                    font-weight: 600;
                }
            }
        }
        nav {
            float: right;
            ul {
                margin: 0%;
                padding: 0%;
                display: flex;
                li {
                    list-style: none;
                    position: relative;
                    font-size: 1.4rem;
                    text-transform: uppercase;

                    a {
                        line-height: 85px;
                        height: 85px;
                        padding: 0 20px;
                        color: #000;
                        display: inline-block;
                        outline: none;
                        letter-spacing: 3px;
                    }
                    ul {
                        position: absolute;
                        left: 0;
                        background: #fff;
                        display: none;
                        li {
                            display: block;
                            width: 200px;
                            a.sub-item {
                                line-height: 60px;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-toggle {
    display: none;
    color: #000;
    cursor: pointer;
    line-height: 85px;
    font-size: 2.4rem;
    float: right;
}

header .menu-wrapper nav ul li.sub-menu:before {
    position: absolute;
    line-height: 85px;
    content: "▾";
    right: 1px;
}

header .menu-wrapper nav ul li.active.sub-menu:before {
    content: "▴";
    position: absolute;
}
header .menu-wrapper nav ul li.active ul {
    display: block;
}
@media (max-width: 991px) {
    header {
        padding: 0;
    }
    .menu-toggle {
        display: block;
    }
    header .menu-wrapper nav {
        position: absolute;
        width: 100%;
        height: auto;
        background: #fff;
        top: 85px;
        left: -100%;
        transition: 0.5s;
    }

    header .menu-wrapper nav.active {
        left: 0;
    }

    header .menu-wrapper nav ul {
        display: inline-block;
        text-align: left;
    }

    header .menu-wrapper nav ul li a {
        line-height: 60px;
        height: 60px;
        margin: 0 0 0 20px;
    }

    header .menu-wrapper nav ul li.active ul {
        position: relative;
        background: #fff;
    }

    header .menu-wrapper nav ul li ul li {
        width: 100%;
        margin-left: 20px;
    }

    header .menu-wrapper nav ul li.sub-menu:before {
        line-height: 60px;
    }
    header .menu-wrapper nav ul li.active.sub-menu:before {
        content: "▴";
        position: absolute;
        margin-right: 10px;
    }
}
span {
    display:block;
    background:#000;
    border-radius:2px;
  }
  
  #menu-toggle {
    width:100px;
    height:100px;
    margin:50px auto;
    position:relative;
    position:relative;
    cursor:pointer;
    background:rgba(255,255,255,.4);
    border-radius:5px;
    &:hover {
      background:rgba(255,255,255,.8);
    }
    #hamburger {
      position:absolute;
      height:100%;
      width:100%;
      span {
        width:60px;
        height:4px;
        position:relative;
        top:24px;
        left:20px;
        margin:10px 0;
        &:nth-child(1){
          transition-delay:.5s;
        }
        &:nth-child(2){
          transition-delay:.625s;
        }
        &:nth-child(3){
          transition-delay:.75s;
        }
      }
    }
    #cross {
      position:absolute;
      height:100%;
      width:100%;
      transform:rotate(45deg);
      span{
        &:nth-child(1){
          height:0%;
          width:4px;
          position:absolute;
          top:10%;
          left:48px;
          transition-delay:0s;
        }
        &:nth-child(2){
          width:0%;
          height:4px;
          position:absolute;
          left:10%;
          top:48px;
          transition-delay:.25s;
        }
      }
    }
  }
  
  #menu-toggle.open {
    #hamburger {
      span {
        width:0%;
        &:nth-child(1){
          transition-delay:0s;
        }
        &:nth-child(2){
          transition-delay:.125s;
        }
        &:nth-child(3){
          transition-delay:.25s;
        }
      }
    }
    #cross {
      span {
        &:nth-child(1){
          height:80%;
          transition-delay:.625s;
        }
      }
      span {
        &:nth-child(2){
          width:80%;
          transition-delay:.375s;
        }
      }    
    }
  }

/*Register page styles*/
.register {
    width: 100%;
    height: auto;
    .register-wrapper {
        width: 85%;
        margin: 80px auto;
        text-align: center;
        .form-holder {
            border: 1px solid #f5f8fa;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
            display: inline-block;
            width: 30%;
            margin: auto;
            .form-layout {
                width: 80%;
                margin: auto;
                text-align: left;
                h2 {
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: 2px;
                }
                p {
                    a {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

/*Index page*/
.jumbothron {
    width: 100%;
    min-height: 500px;
    background-color: hsl(204, 33%, 97%);
    .jumbothron-wrapper {
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 30%;
        grid-gap: 50px;
        justify-content: space-between;
        @media (max-width: 991px) {
            grid-template-columns: 100%;
        }
        .content {
            margin: 85px 0 0 0;
            p {
                font-size: 2.2rem;
            }
            a.button {
                border: 2px solid #e71d43;
                padding: 14px 30px;
                display: inline-block;
                margin: 0 0 20px 0;
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-radius: 3px; 
                background-color: transparent;
                color: #000;
                &:hover {
                    background-color: #e71d43;
                    color: #fff;
                    border: 2px solid #e71d43;
                    transition: all 0.3s ease-in-out;
                }
                &:not(:hover) {
                    background-color: transparent;
                    color: #000;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .photo {
            margin: 85px 0 0 0;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/*News section*/
.news {
    width: 100%;
    h1 {
        text-align: center;
    }
    .news-wrapper {
        width: 85%;
        margin: 80px auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 60px 30px;
        justify-content: space-between;
        .item {
            width: 100%;
            display: none;

            border-radius: 0 0 5px 5px;
            box-shadow: 2px 2px hsl(204, 33%, 97%);
            .image-holder {
                overflow: hidden;
                border-radius: 5px 5px 0 0;
                a {
                    img {
                        width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            .item-content {
                margin: 0 20px;
                a {
                    color: #000;
                    h6 {
                        margin: 10px 0 0 0;
                    }
                }
                p {
                    margin: 5px 0;

                    i {
                        margin-right: 15px;
                        color: #4e4e4e;
                    }
                }
                p.item-blog-author {
                    margin: 15px 0;
                    a {
                        color: #e71d43;
                        &:hover {
                            color: #0633ff;
                            transition: all 0.3s ease-in-out;
                        }
                        &:not(:hover) {
                            color: #e71d43;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
                p.item-blog-text {
                    color: #4e4e4e;
                }
                p.item-blog-comment {
                    margin-left: 32px;
                }
                p.item-blog-date {
                    margin-left: 32px;
                }
                .blog-line {
                    margin: 20px 20px 20px 0;
                    background-color: #dedede;
                    width: 100%;
                    height: 2px;
                    span {
                        width: 130px;
                        height: 2px;
                        background-color: #0633ff;
                        float: left;
                    }
                }
                .item-blog-bottom {
                    a.button {
                        border: 2px solid #e71d43;
                        padding: 14px 30px;
                        display: inline-block;
                        margin: 0 0 20px 0;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        border-radius: 3px;                              
                        background-color: transparent;
                        color: #000;
                        &:hover {
                            background-color: #e71d43;
                            color: #fff;
                            border: 2px solid #e71d43;
                            transition: all 0.3s ease-in-out;
                        }
                        &:not(:hover) {
                            background-color: transparent;
                            color: #000;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    p {
                        float: right;
                        padding: 14px 0;
                        a {
                            color: #0633ff;
                            font-weight: 600;
                            &:hover {
                                color: #e71d43;
                                transition: all 0.3s ease-in-out;
                            }
                            &:not(:hover) {
                                color: #0633ff;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
    button.load-more {
        border: 2px solid #e71d43;
        padding: 14px 30px;
        margin: auto;
        outline: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 3px;                              
        background-color: transparent;
        display: inline-block;
        cursor: pointer;
        color: #000;
        &:hover {
            background-color: #e71d43;
            color: #fff;
            border: 2px solid #e71d43;
            transition: all 0.3s ease-in-out;
        }
        &:not(:hover) {
            background-color: transparent;
            color: #000;
            transition: all 0.3s ease-in-out;
        }
    }
}
.noContent {
    pointer-events: none;
}



/*Footer styles*/

footer {
    width: 100%;
    min-height: 250px;
    color: #000;
    background-color: hsl(204, 33%, 97%);
    overflow: hidden;
    .footer_wrapper_upper {
      width: 85%;
      margin: 20px auto 0 auto;
      display: grid;
      grid-template-columns: 30% 22% 18% 30%;
      @media only screen and (max-width: 1267px) {
        grid-template-columns: 50% 50%;
      }
      @media only screen and (max-width: 700px) {
        grid-template-columns: 100%;
        margin: 0 auto;
      }
      .footer_about {
        padding: 30px 50px 0 0;
        a.footer_logo {
          margin: 0 0 10px 0;
          display: inline-block;
          font-size: 1.8rem;
          text-transform: none;
        }
        p {
          margin: 0 0 10px 0;
          color: #9c9c9c;
        }
        a {
          color: #fff;
          font-size: 1.2rem;
          margin-left: -7px;
          letter-spacing: 1px;
          text-transform: uppercase;
          span {
            position: relative;
            transition: 0.5s;
            &:before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f105";
              opacity: 0;
              transition: 0.5s;
            }
          }
        }
        a:hover span {
          padding-left: 7px;
          color: #ffcc00;
          transition: all 0.5s ease-in-out;
        }
        a:hover span:before {
          opacity: 1;
          padding-right: 7px;
          transition: all 0.5s ease-in-out;
          color: #ffcc00
        }
      }
      .footer_contact {
        padding: 30px 0 0 0;
        h6 {
          margin: 0 0 10px 0;
          font-weight: normal;
        }
        p {
          line-height: 2.5rem;
          color: #9c9c9c;
           i {
            color: #ffcc00;
            min-width: 15px;
            margin-right: 10px;
            display: inline-block;
          }
        }
        a {
          color: #fff;
          margin: 10px 0 0 0;
          display: inline-block;
          font-size: 1.2rem;
          margin-left: -7px;
          letter-spacing: 1px;
          text-transform: uppercase;
          span {
            position: relative;
            transition: 0.5s;
            &:before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f105";
              opacity: 0;
              transition: 0.5s;
            }
          }
        }
        a:hover span {
          padding-left: 7px;
          color: #ffcc00;
          transition: all 0.5s ease-in-out;
        }
        a:hover span:before {
          opacity: 1;
          padding-right: 7px;
          transition: all 0.5s ease-in-out;
          color: #ffcc00
        }
      }
      .footer_links {
        padding: 30px 0 0 0;
        h6 {
          margin: 0 0 10px 7px;
          font-weight: normal;
        }
        ul {
          li {
            padding: 2px 0;
            a {
              color: #9c9c9c;
              font-size: 1.6rem;
              span {
                position: relative;
                transition: 0.5s;
                &:before {
               
                  content: "→";
                  opacity: 0;
                  transition: 0.5s;
                }
              }
            }
          }
        }
        a:hover span {
          padding-left: 7px; 
          color: #ffcc00;
          transition: all 0.5s ease-in-out;
        }
        a:hover span:before {
          opacity: 1;
          padding-right: 7px;
          transition: all 0.5s ease-in-out;
          color: #ffcc00;
        }
      }
      
    }
    .footer_wrapper_down {
      width: 85%;
      margin: 30px auto;
      border-top: 1px solid #9c9c9c;
      display: grid;
      grid-template-columns: 70% 30%;
      @media only screen and (max-width: 1267px) {
        grid-template-columns: 50% 50%;
      }
      @media only screen and (max-width: 700px) {
        grid-template-columns: 100%;
      }
      .footer_copyright {
        padding: 15px 0;
        @media only screen and (max-width: 1267px) {
          padding: 30px 50px 30px 0;
        }
         
       
        p {
          color: #9c9c9c;
        }
      }
      .footer_newsletter {
        padding: 30px 0;
        h6 {
          font-weight: normal;
        }
        .input-wrapper {
          width: 100%;
          margin: 10px auto;
          position: relative;
          &:after {
            content: attr(data-text);
            font-size: 1.6rem;
            line-height: 0;
            height: 0;
            max-width: 100%;
            border-bottom: 3px solid #ffcc00;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            overflow: hidden;
            user-select: none;
            color: transparent;
          }
          input {
            color: #9c9c9c;         
            padding: 0;
            border-radius: 0;
            outline: none;
            width: auto;
            border: none;
            font-size: 1.6rem;
            padding: 10px 0;
            border-bottom: 3px solid #9c9c9c;
            background-color: transparent;
          }
          button.button_footer {
            border: 2px solid #ffcc00;
            padding: 10px 30px;
            font-size: 1.6rem;
            position: relative;
            outline: none;
            display: inline-block;
            cursor: pointer;
            color: #fff;
            background-color: transparent;
            margin-left: 40px;
            @media only screen and (max-width: 1400px) {
              margin-left: 10px
            }
            &-swap_footer {
              span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 10px 30px;
                font-size: 1.6rem;
                box-sizing: border-box;
                opacity: 0;
                color: #000;
                transition: .5s ease;
              }
              &:before {
                content: "";
                left: 0;
                top: 0;
                position: absolute;
                width: 0;
                height: 100%;
                background-color: #ffcc00;
                transition: 0.5s ease;
              }
              &:hover {
                &:before {
                  width: 100%;
                }
                span {
                  opacity: 1;
                }
              }
            }        
          }
        }
        p {
          margin: 15px 0 5px 0;
        }
        a {
          color: #9c9c9c;
          font-size: 1.6rem;
          i {
            margin: 0 10px 0 0;
          }
          &:hover {
            color: #ffcc00;
            transition: all .5s ease-in-out;
          }
        }
      } 
    }
  }
