@import url(https://fonts.googleapis.com/css?family=Lato|Muli|Open+Sans&display=swap);@charset "UTF-8";

/*General styles*/

* {
  box-sizing: border-box;
}

html {
  font-family: "Muli", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

p {
  font-size: 1.8rem;
}

/*Header and Navigation styles*/

header {
  top: 0;
  left: 0;
  padding: 0;
  background: #fff;
  width: 100%;
  height: 85px;
}

header .menu-wrapper {
  width: 75%;
  margin: auto;
}

header .menu-wrapper .logo {
  color: #000;
  height: 85px;
  line-height: 85px;
  font-size: 2.4rem;
  float: left;
}

header .menu-wrapper .logo a {
  text-decoration: none;
  color: #000;
}

header .menu-wrapper .logo a span {
  font-weight: 600;
}

header .menu-wrapper nav {
  float: right;
}

header .menu-wrapper nav ul {
  margin: 0%;
  padding: 0%;
  display: flex;
}

header .menu-wrapper nav ul li {
  list-style: none;
  position: relative;
  font-size: 1.6rem;
}

header .menu-wrapper nav ul li a {
  line-height: 85px;
  height: 85px;
  padding: 0 20px;
  color: #000;
  text-decoration: none;
  display: block;
  outline: none;
  letter-spacing: 1px;
}

header .menu-wrapper nav ul li ul {
  position: absolute;
  left: 0;
  background: #333;
  display: none;
}

header .menu-wrapper nav ul li ul li {
  display: block;
  width: 200px;
}

header .menu-wrapper nav ul li ul li a.sub-item {
  line-height: 60px;
  height: 60px;
}

.menu-toggle {
  display: none;
  color: #000;
  cursor: pointer;
  line-height: 85px;
  font-size: 2.4rem;
  float: right;
}

header .menu-wrapper nav ul li.sub-menu:before {
  position: absolute;
  line-height: 85px;
  content: "\25BE";
  right: 5px;
}

header .menu-wrapper nav ul li.active.sub-menu:before {
  content: "\25B4";
}

header .menu-wrapper nav ul li.active ul {
  display: block;
}

@media (max-width: 991px) {
  header {
    padding: 0;
  }

  .menu-toggle {
    display: block;
  }

  header .menu-wrapper nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    background: #333;
    top: 85px;
    left: -100%;
    transition: 0.5s;
  }

  header .menu-wrapper nav.active {
    left: 0;
  }

  header .menu-wrapper nav ul {
    display: block;
    text-align: center;
  }

  header .menu-wrapper nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 60px;
    height: 60px;
  }

  header .menu-wrapper nav ul li.active ul {
    position: relative;
    background: #003e6f;
  }

  header .menu-wrapper nav ul li ul li {
    width: 100%;
  }
}

/*Register page styles*/

.register {
  width: 100%;
  height: auto;
}

.register .register-wrapper {
  width: 85%;
  margin: 80px auto;
  text-align: center;
}

.register .register-wrapper .form-holder {
  border: 1px solid #f5f8fa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  display: inline-block;
  width: 30%;
  margin: auto;
}

.register .register-wrapper .form-holder .form-layout {
  width: 80%;
  margin: auto;
  text-align: left;
}

.register .register-wrapper .form-holder .form-layout h2 {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
}

.register .register-wrapper .form-holder .form-layout p a {
  margin-left: 5px;
}

/*Index page*/

.jumbothron {
  width: 100%;
  min-height: 500px;
  background-color: #f5f8fa;
}

.jumbothron .jumbothron-wrapper {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 30%;
  grid-column-gap: 50px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .jumbothron .jumbothron-wrapper {
    grid-template-columns: 100%;
  }
}

.jumbothron .jumbothron-wrapper .content {
  margin: 85px 0 0 0;
}

.jumbothron .jumbothron-wrapper .photo {
  margin: 85px 0 0 0;
}

.jumbothron .jumbothron-wrapper .photo img {
  width: 100%;
  height: auto;
}

