@charset "UTF-8";

/* Fonts */

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf?3ed9575dcc488c3e3a5bd66620bdf5a4) format("truetype");
}

/* Files */

/* General styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.7rem;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

/* Variables */

/* Hamburger icon */

/* Header and Navigation styles */

header {
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 75px;
  z-index: 99;
  box-shadow: 0 0 12.48px 0.52px rgba(48, 178, 32, 0.04);
}

header .menu-wrapper {
  width: 90%;
  margin: auto;
}

header .menu-wrapper .logo {
  color: #000;
  height: 75px;
  line-height: 75px;
  font-size: 2rem;
  float: left;
}

header .menu-wrapper .logo a {
  color: #000;
}

header .menu-wrapper .logo a span.logo-span {
  font-weight: 600;
}

header .menu-wrapper nav {
  float: right;
  display: block;
}

header .menu-wrapper nav ul {
  margin: 0%;
  padding: 0%;
  display: flex;
}

header .menu-wrapper nav ul li {
  position: relative;
  font-size: 1.4rem;
}

header .menu-wrapper nav ul li a {
  line-height: 75px;
  height: 75px;
  padding: 0 20px;
  color: #000;
  display: inline-block;
  letter-spacing: 1px;
}

header .menu-wrapper nav ul li ul {
  position: absolute;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px #f5f8fa;
  display: none;
  z-index: 99;
}

header .menu-wrapper nav ul li ul li {
  display: block;
  width: 200px;
}

header .menu-wrapper nav ul li ul li a {
  padding-left: initial;
}

header .menu-wrapper nav ul li ul li a span {
  position: relative;
  transition: 0.5s;
}

header .menu-wrapper nav ul li ul li a span:before {
  content: "\2192";
  font-size: 2rem;
  opacity: 0;
  transition: 0.5s;
}

header .menu-wrapper nav ul li ul li a:hover span {
  padding-left: 20px;
  color: #e71d43;
  transition: all 0.5s ease-in-out;
}

header .menu-wrapper nav ul li ul li a:hover span:before {
  opacity: 1;
  padding-right: 5px;
  transition: all 0.5s ease-in-out;
  color: #e71d43;
}

header .menu-wrapper nav ul li ul li a.sub-item {
  line-height: 60px;
  height: 60px;
}

/* Hamburger icon */

.menu-toggle {
  display: none;
  float: right;
  width: 30px;
  margin-top: 30px;
  height: 18px;
  cursor: pointer;
}

.menu-toggle .hamburger-menu {
  width: 30px;
  height: 2px;
  position: relative;
  transform: translateY(8px);
  background: #000;
  transition: all 0ms 300ms;
}

.menu-toggle .hamburger-menu:after {
  width: 30px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #000;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-toggle .hamburger-menu:before {
  width: 30px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #000;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-toggle .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.menu-toggle .hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-toggle .hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Sticky and Mobile Navigation */

.fixed {
  position: fixed;
  animation: navbar-slide 0.7s;
  transition: all 0.7s ease-in-out;
}

@keyframes navbar-slide {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

header .menu-wrapper nav ul li.active ul {
  display: block;
}

header .menu-wrapper nav ul li.sub-menu:before {
  content: "\25BE";
  line-height: 75px;
  position: absolute;
  right: 5px;
}

header .menu-wrapper nav ul li.active.sub-menu:before {
  content: "\25B4";
  position: absolute;
}

@media screen and (max-width: 991px) {
  header {
    padding: 0;
  }

  header .menu-wrapper nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 75px);
    overflow: auto;
    background: #fff;
    top: 75px;
    left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 90;
  }

  header .menu-wrapper nav.active {
    left: 0;
  }

  header .menu-wrapper nav ul {
    display: block;
    text-align: left;
    margin: 0 30px;
    box-shadow: none !important;
  }

  header .menu-wrapper nav ul li a {
    line-height: 60px;
    height: 60px;
    display: block;
  }

  header .menu-wrapper nav ul li.active ul {
    position: relative;
    background-color: #f5f8fa;
    margin: 0;
  }

  header .menu-wrapper nav ul li ul li {
    width: 100%;
  }

  header .menu-wrapper nav ul li ul li a {
    border-bottom: initial;
    line-height: 60px !important;
    margin: 0;
    text-transform: none;
  }

  header .menu-wrapper nav ul li.sub-menu:before {
    line-height: 60px;
  }

  .menu-toggle {
    display: block;
  }
}

/* Footer styles */

footer {
  width: 100%;
  min-height: 250px;
  color: #000;
  background-color: #1a1a1a;
  overflow: hidden;
}

footer .footer_wrapper_upper {
  width: 90%;
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: 35% 20% 20% 25%;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  footer .footer_wrapper_upper {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 700px) {
  footer .footer_wrapper_upper {
    grid-template-columns: 100%;
    margin: 0 auto;
  }
}

footer .footer_wrapper_upper .footer_about {
  padding: 30px 70px 0 0;
}

footer .footer_wrapper_upper .footer_about a.logo-footer {
  margin: 0 0 10px 0;
  font-weight: normal;
  color: #fff;
  font-size: 1.9rem;
  text-transform: none;
}

footer .footer_wrapper_upper .footer_about p {
  margin: 15px 0 8px 0;
  color: #9c9c9c;
}

footer .footer_wrapper_upper .footer_about a {
  color: #0633ff;
  font-size: 1.3rem;
  margin-left: -20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer .footer_wrapper_upper .footer_about a span {
  position: relative;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_about a span:before {
  content: "\2192";
  font-size: 2rem;
  opacity: 0;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_about a:hover span {
  padding-left: 20px;
  color: #e71d43;
  transition: all 0.5s ease-in-out;
}

footer .footer_wrapper_upper .footer_about a:hover span:before {
  opacity: 1;
  padding-right: 5px;
  transition: all 0.5s ease-in-out;
  color: #e71d43;
}

footer .footer_wrapper_upper .footer_links {
  padding: 30px 0 0 0;
}

footer .footer_wrapper_upper .footer_links h5 {
  margin: 0 0 10px 0;
  color: #fff;
  font-weight: normal;
}

footer .footer_wrapper_upper .footer_links ul {
  margin-left: -18px;
  padding: 0;
}

footer .footer_wrapper_upper .footer_links ul li {
  padding: 0;
}

footer .footer_wrapper_upper .footer_links ul li a {
  color: #9c9c9c;
  font-size: 1.6rem;
}

footer .footer_wrapper_upper .footer_links ul li a span {
  position: relative;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_links ul li a span:before {
  font-size: 2rem;
  content: "\2192";
  opacity: 0;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_links a:hover span {
  padding-left: 18px;
  color: #e71d43;
  transition: all 0.5s ease-in-out;
}

footer .footer_wrapper_upper .footer_links a:hover span:before {
  opacity: 1;
  padding-right: 5px;
  transition: all 0.5s ease-in-out;
  color: #e71d43;
}

footer .footer_wrapper_upper .popular_posts {
  padding: 30px 0 5px 0;
}

footer .footer_wrapper_upper .popular_posts h5 {
  font-weight: normal;
  margin: 0 0 20px 0;
  color: #fff;
}

footer .footer_wrapper_upper .popular_posts ul {
  padding-left: 0;
}

footer .footer_wrapper_upper .popular_posts ul li {
  margin: 3px 0;
  clear: left;
}

footer .footer_wrapper_upper .popular_posts ul li .image-holder {
  display: block;
  overflow: hidden;
  background: #cccccc;
  float: left;
  margin: 3px 10px 3px 0;
}

footer .footer_wrapper_upper .popular_posts ul li .image-holder a img {
  overflow: hidden;
  display: block;
  object-fit: cover;
}

footer .footer_wrapper_upper .popular_posts ul li small {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
}

footer .footer_wrapper_upper .popular_posts ul li a.popular-link-title {
  color: #9c9c9c;
  margin-top: 3px;
  font-size: 1.6rem;
}

footer .footer_wrapper_upper .popular_posts ul li a.popular-link-title:hover {
  color: #e71d43;
  transition: all 0.5s ease-in-out;
}

footer .footer_wrapper_down {
  width: 90%;
  margin: 30px auto;
  border-top: 1px solid #9c9c9c;
  display: grid;
  grid-template-columns: 75% 25%;
}

@media screen and (max-width: 1100px) {
  footer .footer_wrapper_down {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 700px) {
  footer .footer_wrapper_down {
    grid-template-columns: 100%;
  }
}

footer .footer_wrapper_down .footer_copyright {
  margin: 30px 0;
  color: #9c9c9c;
}

@media screen and (max-width: 1000px) {
  footer .footer_wrapper_down .footer_copyright {
    padding: 0 50px 0 0;
  }
}

footer .footer_wrapper_down .footer_newsletter {
  margin: 30px 0 20px 0;
}

@media screen and (max-width: 700px) {
  footer .footer_wrapper_down .footer_newsletter {
    margin: 0 0 20px 0;
  }
}

footer .footer_wrapper_down .footer_newsletter h5 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 10px;
}

footer .footer_wrapper_down .footer_newsletter p {
  margin: 15px 0;
  color: #fff;
}

footer .footer_wrapper_down .footer_newsletter a {
  color: #9c9c9c;
  font-size: 1.6rem;
  position: relative;
  margin: 0 45px 0 0;
}

footer .footer_wrapper_down .footer_newsletter a:hover {
  color: #e71d43;
  transition: all 0.5s ease-in-out;
}

footer .footer_wrapper_down .footer_newsletter a#facebook:after,
footer .footer_wrapper_down .footer_newsletter a#twitter:after {
  content: "";
  background: #9c9c9c;
  position: absolute;
  top: 55%;
  right: -33px;
  height: 1px;
  width: 26px;
}

/* Index page styles */

.jumbothron {
  width: 100%;
  min-height: 350px;
  background-color: #f5f8fa;
  margin-top: 75px;
}

.jumbothron .jumbothron-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 30%;
  grid-gap: 50px;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .jumbothron .jumbothron-wrapper {
    grid-template-columns: 100%;
  }
}

.jumbothron .jumbothron-wrapper .content {
  margin: 75px 0 0 0;
}

@media screen and (max-width: 950px) {
  .jumbothron .jumbothron-wrapper .content {
    grid-area: 2/1/3/2;
    margin: 0 0 50px 0;
  }
}

.jumbothron .jumbothron-wrapper .content h1 {
  font-weight: normal;
  margin: 0 0 10px 0;
}

.jumbothron .jumbothron-wrapper .content p {
  font-size: 1.8rem;
}

.jumbothron .jumbothron-wrapper .content a.button {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  display: inline-block;
  margin: 20px 0 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.jumbothron .jumbothron-wrapper .content a.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.jumbothron .jumbothron-wrapper .content a.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.jumbothron .jumbothron-wrapper .photo {
  margin: 75px 0;
}

@media screen and (max-width: 950px) {
  .jumbothron .jumbothron-wrapper .photo {
    grid-area: 1/1/2/2;
    margin: 75px 0 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .jumbothron .jumbothron-wrapper .photo {
    margin: 75px 0 0 0;
  }
}

.jumbothron .jumbothron-wrapper .photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* News section */

.news {
  width: 100%;
}

.news h1 {
  text-align: center;
  font-weight: normal;
  margin-top: 50px;
}

.news .news-wrapper {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 60px 30px;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .news .news-wrapper {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 650px) {
  .news .news-wrapper {
    grid-template-columns: auto;
  }
}

.news .news-wrapper .item {
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid #f5f8fa;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.news .news-wrapper .item .image-holder {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  position: relative;
  display: block;
  background: #cccccc;
}

.news .news-wrapper .item .image-holder a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.news .news-wrapper .item .image-holder a .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.news .news-wrapper .item .image-holder a:hover img {
  transform: scale(1.15);
}

.news .news-wrapper .item .image-holder a:hover .image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s ease-in-out;
}

.news .news-wrapper .item .image-holder a:not(:hover) .image-overlay {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.news .news-wrapper .item .item-content {
  margin: 0 20px;
}

.news .news-wrapper .item .item-content a {
  color: #000;
}

.news .news-wrapper .item .item-content a h6 {
  margin: 10px 0 0 0;
}

.news .news-wrapper .item .item-content p {
  margin: 5px 0;
}

.news .news-wrapper .item .item-content p i {
  margin-right: 15px;
  color: #4e4e4e;
}

.news .news-wrapper .item .item-content p.item-blog-author {
  margin: 15px 0;
}

.news .news-wrapper .item .item-content p.item-blog-author i {
  margin: 0 10px 0 0;
}

.news .news-wrapper .item .item-content p.item-blog-author a {
  color: #000;
}

.news .news-wrapper .item .item-content p.item-blog-author a:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}

.news .news-wrapper .item .item-content p.item-blog-author a:not(:hover) {
  color: #000;
  transition: all 0.3s ease-in-out;
}

.news .news-wrapper .item .item-content p.item-blog-text {
  color: #4e4e4e;
}

.news .news-wrapper .item .item-content p.item-blog-comment {
  margin-left: 35px;
}

.news .news-wrapper .item .item-content p.item-blog-date {
  margin-left: 35px;
}

.news .news-wrapper .item .item-content .blog-line {
  margin: 20px 20px 20px 0;
  background-color: #dedede;
  width: 100%;
  height: 2px;
}

.news .news-wrapper .item .item-content .item-blog-bottom a.button {
  border: 2px solid #e71d43;
  padding: 14px 22px 12px 22px;
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.news .news-wrapper .item .item-content .item-blog-bottom a.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.news .news-wrapper .item .item-content .item-blog-bottom a.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.news .news-wrapper .item .item-content .item-blog-bottom p {
  float: right;
  padding: 14px 0;
}

.news .news-wrapper .item .item-content .item-blog-bottom p a {
  color: #0633ff;
  font-weight: 600;
}

.news .news-wrapper .item .item-content .item-blog-bottom p a:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}

.news .news-wrapper .item .item-content .item-blog-bottom p a:not(:hover) {
  color: #0633ff;
  transition: all 0.3s ease-in-out;
}

/* Pagination styles */

.news-pagination {
  width: 100%;
}

.news-pagination .news-pagination-wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* Show page styles */

.news-show {
  width: 100%;
}

.news-show .news-show-wrapper {
  width: 90%;
  margin: 60px auto;
  min-height: 500px;
  position: relative;
}

.news-show .news-show-wrapper .item-itself {
  overflow: hidden;
  width: 70%;
  display: block;
  float: left;
  user-select: none;
}

.news-show .news-show-wrapper .item-itself .thumbnail {
  display: block;
  overflow: hidden;
  background: #cccccc;
}

.news-show .news-show-wrapper .item-itself .thumbnail img {
  width: 100%;
  display: block;
  overflow: hidden;
  object-fit: cover;
}

.news-show .news-show-wrapper .item-itself h1 {
  font-weight: normal;
  margin: 20px 0;
  font-size: 3.6rem;
}

.news-show .news-show-wrapper .item-itself p.photo-source {
  text-transform: initial;
  font-size: 1.6rem;
}

.news-show .news-show-wrapper .item-itself p.meta {
  line-height: 3rem;
  color: #000;
  position: relative;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.news-show .news-show-wrapper .item-itself p.meta a.show-category {
  color: #0633ff;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.news-show .news-show-wrapper .item-itself p.meta a.show-category:hover {
  color: #e71d43;
  transition: all 0.4s ease-in-out;
}

.news-show .news-show-wrapper .item-itself p.meta a.show-author {
  color: #0633ff;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.news-show .news-show-wrapper .item-itself p.meta a.show-author:hover {
  color: #e71d43;
  transition: all 0.4s ease-in-out;
}

.news-show .news-show-wrapper .item-itself p.show-body {
  line-height: 2.6rem;
  color: #4e4e4e;
}

.news-show .news-show-wrapper .item-itself .item-line {
  width: 100%;
  height: 1px;
  background-color: #4e4e4e;
  margin: 30px 0;
}

.news-show .news-show-wrapper .item-itself .add-this-position {
  display: inline-block;
}

.news-show .news-show-wrapper .item-itself .meta-right {
  float: right;
  color: #000;
}

.news-show .news-show-wrapper .item-itself h4 {
  margin: 50px 0 20px 0;
  font-weight: normal;
}

@media screen and (max-width: 950px) {
  .news-show .news-show-wrapper .item-itself {
    width: 100%;
  }
}

.news-show .news-show-wrapper aside.sidebar {
  float: right;
  display: block;
  width: 23%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .news-show .news-show-wrapper aside.sidebar {
    float: left;
    margin: 40px 0 0 0;
    width: 100%;
  }
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget {
  margin: 0 0 30px 0;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget h2 {
  font-weight: normal;
  padding: 0;
  margin: 0 0 30px 0;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget ul.related li {
  clear: left;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget ul.related li .image-holder {
  background: #cccccc;
  display: block;
  overflow: hidden;
  float: left;
  width: 92px;
  height: 69px;
  margin: 0 15px 15px 0;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget ul.related li .image-holder a img {
  width: 100%;
  display: block;
  object-fit: cover;
  overflow: hidden;
  width: 92px;
  height: 69px;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget ul.related li .post-content p {
  display: block;
  margin-bottom: 5px;
  padding: 10px 0 0 0;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget ul.related li .post-content p a {
  color: #000;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget ul.related li .post-content p a:hover {
  color: #e71d43;
  transition: all 0.4s ease-in-out;
}

.news-show .news-show-wrapper aside.sidebar .related-posts-widget ul.related li .post-content small {
  color: #4e4e4e;
  font-size: 1.2rem;
}

.news-show .news-show-wrapper aside.sidebar .category-widget {
  margin: 30px 0;
}

.news-show .news-show-wrapper aside.sidebar .category-widget h2 {
  font-weight: normal;
  margin-bottom: 30px;
}

.news-show .news-show-wrapper aside.sidebar .category-widget ul.category-list {
  font-size: 1.6rem;
}

.news-show .news-show-wrapper aside.sidebar .category-widget ul.category-list li {
  margin: 10px 0;
}

.news-show .news-show-wrapper aside.sidebar .category-widget ul.category-list li a {
  display: inline-block;
  color: #000;
}

.news-show .news-show-wrapper aside.sidebar .category-widget ul.category-list li a:hover {
  color: #e71d43;
}

.news-show .news-show-wrapper aside.sidebar .tag-widget {
  margin: 70px 0 30px 0;
  clear: left;
}

.news-show .news-show-wrapper aside.sidebar .tag-widget h2 {
  font-weight: normal;
  margin-bottom: 30px;
}

.news-show .news-show-wrapper aside.sidebar .tag-widget .tag-cloud {
  font-size: 1.6rem;
}

.news-show .news-show-wrapper aside.sidebar .tag-widget .tag-cloud a {
  display: inline-block;
  margin: 0 5px 5px 0;
  border: 1px solid #e71d43;
  padding: 3px 14px 3px 14px;
}

.news-show .news-show-wrapper aside.sidebar .tag-widget .tag-cloud a:hover {
  color: #fff;
  background-color: #e71d43;
  transition: all 0.4s ease-in-out;
}

.news-show .news-show-wrapper aside.sidebar .tag-widget .tag-cloud a:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.4s ease-in-out;
}

.news-show .news-show-wrapper .clear {
  clear: both;
}

/* About page styles */

.about-page {
  width: 100%;
  height: auto;
}

.about-page .about-page-wrapper {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-row-gap: 50px;
}

@media screen and (max-width: 1200px) {
  .about-page .about-page-wrapper {
    grid-template-columns: 100%;
  }
}

.about-page .about-page-wrapper .thumbnail {
  overflow: hidden;
  background: #cccccc;
}

.about-page .about-page-wrapper .thumbnail img {
  width: 100%;
  display: block;
  overflow: hidden;
  object-fit: cover;
}

.about-page .about-content {
  margin-left: 100px;
}

@media screen and (max-width: 1200px) {
  .about-page .about-content {
    margin-left: 0;
  }
}

.about-page .about-content h2 {
  font-weight: normal;
  margin-bottom: 15px;
}

.about-page .about-content p {
  line-height: 2.6rem;
}

.about-page .about-content p a {
  color: #0633ff;
}

/* Contact page styles */

.contact-page {
  width: 100%;
  height: auto;
}

.contact-page .contact-page-wrapper {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 28% 44% 28%;
  justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .contact-page .contact-page-wrapper {
    grid-template-columns: 100%;
  }
}

.contact-page .contact-page-wrapper .contact-us {
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .contact-page .contact-page-wrapper .contact-us {
    margin-bottom: 40px;
  }
}

.contact-page .contact-page-wrapper .contact-us h2 {
  font-weight: normal;
  margin: 0 0 30px 0;
}

.contact-page .contact-page-wrapper .contact-us p {
  color: #4e4e4e;
  padding: 0 10px;
  line-height: 2.6rem;
}

.contact-page .contact-page-wrapper .contact-us h5 {
  margin: 40px 0;
  font-weight: normal;
}

.contact-page .contact-page-wrapper .contact-us a {
  color: #000;
  font-size: 1.6rem;
  position: relative;
  margin: 0 45px 0 0;
}

.contact-page .contact-page-wrapper .contact-us a:hover {
  color: #e71d43;
  transition: all 0.5s ease-in-out;
}

.contact-page .contact-page-wrapper .contact-us p.contact-social {
  margin-left: 45px;
}

.contact-page .contact-page-wrapper .contact-us a#facebook:after,
.contact-page .contact-page-wrapper .contact-us a#twitter:after {
  content: "";
  background: #000;
  position: absolute;
  top: 55%;
  right: -33px;
  height: 1px;
  width: 26px;
}

.contact-page .contact-page-wrapper .contact-form {
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .contact-page .contact-page-wrapper .contact-form {
    margin-bottom: 40px;
  }
}

.contact-page .contact-page-wrapper .contact-form h2 {
  font-weight: normal;
  margin: 0;
}

.contact-page .contact-page-wrapper .contact-form .alert-success {
  font-size: 1.6rem;
  color: #4e4e4e;
  margin: 35px 50px 0 50px;
  border: 2px solid #0633ff;
  background-color: #f5f8fa;
  padding: 10px 15px;
  border-radius: 3px;
}

.contact-page .contact-page-wrapper .contact-form form {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .contact-page .contact-page-wrapper .contact-form form {
    width: 90%;
  }
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group {
  margin: 30px 0;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group input {
  border: none;
  font-size: 1.6rem;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 10px 0;
  width: 100%;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group input::placeholder {
  font-size: 1.6rem;
  color: #4e4e4e;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group input:focus {
  outline: none;
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-in-out;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group input:focus::placeholder {
  color: #000;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group textarea {
  border: none;
  font-size: 1.6rem;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 60px 0;
  width: 100%;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group textarea::placeholder {
  font-size: 1.6rem;
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-in-out;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group textarea:focus::placeholder {
  color: #000;
}

.contact-page .contact-page-wrapper .contact-form form .contact-form-group .invalid-feedback {
  color: #e71d43;
  font-size: 1.4rem;
  text-align: left;
}

.contact-page .contact-page-wrapper .contact-form form button.button {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.contact-page .contact-page-wrapper .contact-form form button.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.contact-page .contact-page-wrapper .contact-form form button.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.contact-page .contact-page-wrapper .right-column {
  overflow: hidden;
}

.contact-page .contact-page-wrapper .right-column h2 {
  margin: 0 0 30px 0;
  font-weight: normal;
}

.contact-page .contact-page-wrapper .right-column p {
  color: #4e4e4e;
  line-height: 2.6rem;
}

/* Slick slider */

.slider {
  width: 100%;
  height: auto;
}

.slider h2 {
  font-weight: normal;
  text-align: center;
}

.slider .contact-slider {
  width: 90%;
  margin: 60px auto;
  position: relative;
  overflow-x: hidden;
}

.slider .contact-slider .contact-slider-wrapper .item {
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid #f5f8fa;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  margin: 0 15px;
}

.slider .contact-slider .contact-slider-wrapper .item .image-holder {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  position: relative;
  display: block;
}

.slider .contact-slider .contact-slider-wrapper .item .image-holder a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .image-holder a .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.slider .contact-slider .contact-slider-wrapper .item .image-holder a:hover img {
  transform: scale(1.15);
}

.slider .contact-slider .contact-slider-wrapper .item .image-holder a:hover .image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .image-holder a:not(:hover) .image-overlay {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content {
  margin: 0 20px;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content a {
  color: #000;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content a h6 {
  margin: 10px 0 0 0;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p {
  margin: 5px 0;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p i {
  margin-right: 15px;
  color: #4e4e4e;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-author {
  margin: 15px 0;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-author i {
  margin: 0 10px 0 0;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-author a {
  color: #4e4e4e;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-author a:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-author a:not(:hover) {
  color: #4e4e4e;
  transition: all 0.3s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-text {
  color: #4e4e4e;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-comment {
  margin-left: 35px;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content p.item-blog-date {
  margin-left: 35px;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .blog-line {
  margin: 20px 20px 20px 0;
  background-color: #dedede;
  width: 100%;
  height: 2px;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .item-blog-bottom a.button {
  border: 2px solid #e71d43;
  padding: 14px 22px 12px 22px;
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .item-blog-bottom a.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .item-blog-bottom a.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .item-blog-bottom p {
  float: right;
  padding: 14px 0;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .item-blog-bottom p a {
  color: #0633ff;
  font-weight: 600;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .item-blog-bottom p a:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}

.slider .contact-slider .contact-slider-wrapper .item .item-content .item-blog-bottom p a:not(:hover) {
  color: #0633ff;
  transition: all 0.3s ease-in-out;
}

/* Auth (register and login pages) styles */

.login-register {
  width: 100%;
  height: auto;
}

.login-register .login-register-wrapper {
  width: 90%;
  margin: 60px auto;
  text-align: center;
}

.login-register .login-register-wrapper p {
  color: #000;
  margin: 15px auto 20px auto;
  font-weight: normal;
}

.login-register .login-register-wrapper p a {
  margin-left: 5px;
  color: #e71d43;
}

.login-register .login-register-wrapper form {
  width: 40%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .login-register .login-register-wrapper form {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .login-register .login-register-wrapper form {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .login-register .login-register-wrapper form {
    width: 90%;
  }
}

.login-register .login-register-wrapper form .form-group {
  margin: 40px 0;
  text-align: left;
}

.login-register .login-register-wrapper form .form-group .group-holder input {
  border: none;
  font-size: 1.6rem;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 10px 0;
  width: 100%;
}

.login-register .login-register-wrapper form .form-group .group-holder input::placeholder {
  font-size: 1.6rem;
  color: #4e4e4e;
  opacity: 1;
}

.login-register .login-register-wrapper form .form-group .group-holder input:focus {
  outline: none;
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-in-out;
}

.login-register .login-register-wrapper form .form-group .group-holder input:focus::placeholder {
  color: #000;
  opacity: 1;
}

.login-register .login-register-wrapper form .form-group .group-holder span.invalid-feedback {
  color: #e71d43;
  font-size: 1.2rem;
}

.login-register .login-register-wrapper form .form-group .checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
}

.login-register .login-register-wrapper form .form-group .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.login-register .login-register-wrapper form .form-group .checkbox-container input:checked ~ .checkmark {
  background-color: #e71d43;
}

.login-register .login-register-wrapper form .form-group .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.login-register .login-register-wrapper form .form-group .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #cccccc;
}

.login-register .login-register-wrapper form .form-group .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.login-register .login-register-wrapper form .form-group .checkbox-container .checkmark:after {
  width: 5px;
  height: 10px;
  left: 5px;
  top: 1px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.login-register .login-register-wrapper form button.button {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.login-register .login-register-wrapper form button.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.login-register .login-register-wrapper form button.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.login-register .login-register-wrapper a.reset-link {
  font-size: 1.6rem;
  color: #e71d43;
  margin: 0 0 0 10px;
}

.login-register .login-register-wrapper a.reset-link:hover {
  color: #0633ff;
  transition: all 0.3s ease-in-out;
}

.login-register .login-register-wrapper p.social-proceed {
  margin: 50px 0 10px 0;
}

.login-register .login-register-wrapper i {
  margin: 0 15px;
  color: #000;
}

.login-register .login-register-wrapper .alert-success {
  font-size: 1.6rem;
  color: #4e4e4e;
  border: 2px solid #0633ff;
  background-color: #f5f8fa;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
}

/* Overlay Search Dashboard Styles */

.search-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  position: fixed;
  background-color: #000;
  z-index: 99;
  overflow-x: hidden;
  transition: 0.5s;
}

.search-overlay span.close-search {
  position: absolute;
  top: 15px;
  right: 45px;
  cursor: pointer;
  font-size: 6rem;
  color: #9c9c9c;
}

.search-overlay span.close-search:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}

.search-overlay form.search-input {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .search-overlay form.search-input {
    top: 30%;
  }
}

.search-overlay form.search-input input {
  border: none;
  border-bottom: 3px solid #9c9c9c;
  outline: none;
  background-color: transparent;
  color: #9c9c9c;
  text-align: left;
  padding-bottom: 5px;
  font-size: 4rem;
  overflow: hidden;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .search-overlay form.search-input input {
    width: 65%;
  }
}

.search-overlay form.search-input input::placeholder {
  color: #9c9c9c;
  font-size: 4rem;
  opacity: 1;
}

.search-overlay form.search-input input::-webkit-input-placeholder {
  color: #9c9c9c;
  font-size: 4rem;
  opacity: 1;
}

/* Dashboard styles */

.dashboard {
  width: 100%;
  height: auto;
}

.dashboard .dashboard-wrapper {
  width: 90%;
  margin: 60px auto;
}

.dashboard .dashboard-wrapper a.button {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.dashboard .dashboard-wrapper a.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.dashboard .dashboard-wrapper a.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.dashboard .dashboard-wrapper a.back {
  border: 2px solid #0633ff;
  padding: 14px 25px 12px 25px;
  display: inline-block;
  margin: 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.dashboard .dashboard-wrapper a.back:hover {
  background-color: #0633ff;
  color: #fff;
  border: 2px solid #0633ff;
  transition: all 0.3s ease-in-out;
}

.dashboard .dashboard-wrapper a.back:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.dashboard .dashboard-wrapper button.delete-show-page {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  margin: 20px 0 0 0;
  color: #000;
}

.dashboard .dashboard-wrapper button.delete-show-page:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.dashboard .dashboard-wrapper button.delete-show-page:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.dashboard .dashboard-wrapper .well {
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  overflow-x: scroll;
}

.dashboard .dashboard-wrapper .well .well-title {
  background-color: #f5f8fa;
  border-bottom: 1px solid #e3e6f0;
}

.dashboard .dashboard-wrapper .well .well-title h5 {
  font-weight: normal;
  padding: 15px 0 15px 40px;
}

.dashboard .dashboard-wrapper .well .well-content {
  width: 95%;
  margin: 50px auto 20px auto;
}

.dashboard .dashboard-wrapper .well .well-content table {
  font-size: 1.6rem;
  color: #000;
  border-collapse: collapse;
  width: 100%;
}

.dashboard .dashboard-wrapper .well .well-content table th {
  border: 1px solid #e3e6f0;
  border-top: 2px solid #e3e6f0;
  border-bottom: 3px solid #e3e6f0;
  text-align: left;
  padding: 15px;
}

.dashboard .dashboard-wrapper .well .well-content table td {
  border: 1px solid #e3e6f0;
  text-align: left;
  padding: 15px;
}

.dashboard .dashboard-wrapper .well .well-content table td .badge {
  background-color: #17a2b8;
  margin: 3px;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 0 3px;
}

.dashboard a.action-button-green {
  color: #fff;
  background-color: #4dbd74;
  padding: 1px 5px;
  border-radius: 5px;
  margin: 4px;
}

.dashboard a.action-button-green:hover {
  background-color: #4cae4c;
}

.dashboard button.action-button-green {
  color: #fff;
  background-color: #4dbd74;
  padding: 1px 5px;
  border-radius: 5px;
  border: 1px solid #4dbd74;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
}

.dashboard button.action-button-green:hover {
  background-color: #4cae4c;
}

.dashboard button.action-button-red {
  color: #fff;
  background-color: #e71d43;
  padding: 1px 5px;
  border-radius: 5px;
  border: 1px solid #e71d43;
  margin: 4px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.dashboard button.action-button-red:hover {
  background-color: #d9534f;
}

.dashboard form {
  display: inline-block;
}

.dashboard button.button {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
  outline: none;
}

.dashboard button.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.dashboard button.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.dashboard form.create-update {
  width: 100%;
}

.dashboard form.create-update .form-wrapper {
  margin: 10px 0;
  width: 100%;
}

.dashboard form.create-update .form-wrapper .form-error {
  color: #e71d43;
  font-size: 1.2rem;
}

.dashboard form.create-update .form-wrapper label {
  display: inline-block;
  font-size: 1.6rem;
  margin: 10px 0;
}

.dashboard form.create-update .form-wrapper input.form-input {
  display: block;
  font-size: 1.6rem;
  width: 100%;
  padding: 10px 5px;
  border: 2px solid #e3e6f0;
  border-radius: 5px;
  outline: 0;
}

.dashboard form.create-update .form-wrapper input.form-input:focus {
  border-color: #bac8f3;
  box-shadow: 0 0 0 0.3rem rgba(78, 115, 223, 0.25);
  outline: 0;
}

.dashboard form.create-update .form-wrapper select {
  width: 100%;
  outline: none;
  display: block;
  font-size: 1.6rem;
  padding: 10px 4px;
  border: 2px solid #e3e6f0;
  border-radius: 5px;
  background: #fff;
}

.dashboard form.create-update .form-wrapper select:focus {
  border-color: #bac8f3;
  box-shadow: 0 0 0 0.3rem rgba(78, 115, 223, 0.25);
  outline: 0;
}

.dashboard form.create-update .form-wrapper input.form-image {
  display: block;
}

.dashboard form.create-update .form-wrapper .post-image {
  overflow: hidden;
  height: 150px;
  width: auto;
  position: relative;
  display: inline-block;
}

.dashboard form.create-update .form-wrapper .post-image img {
  object-fit: cover;
  width: auto;
  height: 150px;
  display: block;
}

.dashboard form.create-update .form-wrapper .post-image .post-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.dashboard form.create-update .form-wrapper .post-image .post-image-overlay a.action-button-delete {
  margin: 10px 0 0 10px;
  color: #fff;
  background-color: #e71d43;
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.6rem;
}

.dashboard form.create-update .form-wrapper .post-image .post-image-overlay a.action-button-delete:hover {
  background-color: #d9534f;
}

.dashboard form.create-update .form-wrapper label.radio-container {
  display: block;
  position: relative;
  margin: 0 0 12px 0;
  cursor: pointer;
  font-size: 1.4rem;
  padding-left: 30px;
  user-select: none;
}

.dashboard form.create-update .form-wrapper label.radio-container input.form-radio {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.dashboard form.create-update .form-wrapper label.radio-container .radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #e3e6f0;
}

.dashboard form.create-update .form-wrapper label.radio-container .radio-checkmark:after {
  position: absolute;
  display: none;
  content: "";
}

.dashboard form.create-update .form-wrapper label.radio-container input.form-radio:checked ~ span.radio-checkmark {
  background-color: #e71d43;
}

.dashboard form.create-update .form-wrapper label.radio-container input.form-radio:checked ~ span.radio-checkmark:after {
  display: block;
}

.dashboard form.create-update .form-wrapper label.radio-container span.radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

.dashboard form.create-update .form-wrapper .attach-role {
  margin-bottom: 10px;
}

.dashboard form.create-update .form-wrapper .checkbox-container {
  position: relative;
  margin: 4px 0;
  padding-left: 35px;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
}

.dashboard form.create-update .form-wrapper .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.dashboard form.create-update .form-wrapper .checkbox-container input:checked ~ .checkmark {
  background-color: #e71d43;
}

.dashboard form.create-update .form-wrapper .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.dashboard form.create-update .form-wrapper .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #cccccc;
}

.dashboard form.create-update .form-wrapper .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.dashboard form.create-update .form-wrapper .checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Dashboard footer styles */

footer#dashboard-footer {
  min-height: initial;
  width: 100%;
  text-align: center;
  background-color: #1a1a1a;
}

footer#dashboard-footer .dashboard-footer-wrapper {
  width: 90%;
  margin: auto;
}

footer#dashboard-footer .dashboard-footer-wrapper p {
  font-size: 1.6rem;
  color: #9c9c9c;
  padding: 15px 0;
}

footer#dashboard-footer .dashboard-footer-wrapper p a {
  color: #e71d43;
}

/* Error pages styles */

.error-page {
  width: 100%;
}

.error-page .error-page-wrapper {
  width: 90%;
  margin: 60px auto;
  text-align: center;
}

.error-page .error-page-wrapper h1 {
  font-weight: normal;
  font-size: 4rem;
}

.error-page .error-page-wrapper h6 {
  text-transform: uppercase;
  margin: 35px auto 15px auto;
  font-weight: normal;
  letter-spacing: 2px;
}

.error-page .error-page-wrapper p {
  color: #4e4e4e;
  margin-bottom: 20px;
}

.error-page .error-page-wrapper a.button {
  border: 2px solid #e71d43;
  padding: 14px 22px 12px 22px;
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}

.error-page .error-page-wrapper a.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}

.error-page .error-page-wrapper a.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}

/* Select2 */

/* Changed */

/* Changed */

/* Slider */

/* Jumbotron styles for all pages except index */

.title-jumbotron {
  width: 100%;
  min-height: 140px;
  background-color: #f5f8fa;
  height: 140px;
  overflow: hidden;
  position: relative;
  margin-top: 75px;
}

.title-jumbotron .parallax-text {
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .title-jumbotron .parallax-text {
    top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .title-jumbotron .parallax-text {
    top: 55px;
  }
}

@media screen and (max-width: 460px) {
  .title-jumbotron .parallax-text {
    top: 57px;
  }
}

.title-jumbotron .parallax-text h1 {
  font-weight: normal;
  font-size: 3.9rem;
  margin: 0 30px;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .title-jumbotron .parallax-text h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .title-jumbotron .parallax-text h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 460px) {
  .title-jumbotron .parallax-text h1 {
    font-size: 2rem;
  }
}

/* Sweet Alert styles */

/* Pulsing heart GSAP footer animation */

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  fill: currentColor;
}

.iconbutton {
  background: none;
  border: 0;
  padding: 0 0.8rem;
  cursor: pointer;
}

.iconbutton:focus {
  outline: none;
}

.icon--heart {
  color: #e71d43;
}

/* Cookie consent styles */

